<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>lvl_up</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div>
                <h1>lvl-up site</h1>
            </div>
            <div>
                <a href="/placeholder1">Placeholder 1</a>
                <a href="/placeholder2">Placeholder 2</a>
                <a href="/badgelibrary">Badge library</a>
            </div>
        </div>
    </nav>
    @RenderBody()
</body>
</html>